.calculadora{
    width: 292px;
    margin: 50px auto;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: blueviolet;
}

input[type="button"]{
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 20px;
}

input[type="text"]{
    height: 80px;
    width:  275px;
    margin: 5px;
    font-size: 35px;
}